@page "/create"
@layout MainLayout
@using Pressentation_WebApp.Components;

<h3 class="mb-4">@message</h3>

<EditForm Model="Project" OnValidSubmit="CreateProject">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Projektnamn</label>
            <input @bind-value="Project!.Name" type="text" class="form-control" placeholder="Ange projektnamn.." />
            <ValidationMessage For="@(() => Project.Name)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Startdatum</label>
            <input @bind-value="Project.StartDate" type="date" class="form-control" />
            <ValidationMessage For="@(() => Project.StartDate)" />
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Slutdatum</label>
            <input @bind-value="Project.EndDate" type="date" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <label class="form-label mb-0">Kund</label>
                <button class="btn btn-light btn-sm mb-2" type="button">Lägg till ny +</button>
            </div>
            <select @bind="Project.CustomerId" class="form-select col-md-12">
                <option value="0" selected disabled>Välj kund..</option>
                @if (Customers is not null && Customers.Count() > 0)
                {
                    @foreach (var customer in Customers)
                    {
                        <option value="@customer.Id">@customer.Name</option>
                    }
                }
                else
                {
                    <option disabled>Laddar kund..</option>
                }
            </select>
            <ValidationMessage For="@(() => Project.CustomerId)" />
        </div>
        <div class="col-md-6 mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <label class="form-label mb-0">Projektansvarig</label>
                <button class="btn btn-light btn-sm mb-2" type="button">Lägg till ny +</button>
            </div>
            <select @bind="Project.EmployeeId" class="form-select col-md-12">
                <option value="0" selected disabled>Välj anställd..</option>
                @if (Employees is not null && Employees.Count() > 0)
                {
                    @foreach (var employee in Employees)
                    {
                        <option value="@employee.Id">@employee.Name</option>
                    }
                }
                else
                {
                    <option disabled>Laddar anställda..</option>
                }
            </select>
            <ValidationMessage For="@(() => Project.EmployeeId)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Status</label>
            <select @bind="Project.StatusTypeId" class="form-select mb-3 col-md-12">
                <option value="0" disabled>Välj en status..</option>
                @if (StatusType is not null && StatusType.Count() > 0)
                {
                    @foreach (var status in StatusType)
                    {
                        <option value="@status.Id">@status.Name</option>
                    }
                }
                else
                {
                    <option disabled>Laddar Tjänster..</option>
                }
            </select>
            <ValidationMessage For="@(() => Project.StatusTypeId)" />
            <button type="submit" class="btn btn-primary">Skapa projekt</button>
        </div>
        <AddServices IsEditing="true" ProjectServices="Services" />
    </div>
</EditForm>
