@page "/create"
@layout MainLayout

<h3 class="mb-4">Create</h3>


<EditForm Model="model" OnValidSubmit="CreateProject">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Projektnamn</label>
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Startdatum</label>
            <input type="date" class="form-control" />
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Slutdatum</label>
            <input type="date" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Kund</label>
            <select class="form-select col-md-12">
                @if (Customers != null)
                {
                    @foreach (var customer in Customers)
                    {
                        <option value="@customer.Id">@customer.Name</option>
                    }
                }
                else
                {
                    <option disabled>Laddar kund..</option>
                }
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Anställda</label>
            <select class="form-select col-md-12">
                @if (Employees != null)
                {
                    @foreach (var employee in Employees)
                    {
                        <option value="@employee.Id">@employee.Name</option>
                    }
                }
                else
                {
                    <option disabled>Laddar anställda..</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Status</label>
            <select class="form-select col-md-12" @bind="model.Name">
                <option value="Pågående" selected="@(model.Name == "Pågående")">Pågående</option>
                <option value="Avslutad" selected="@(model.Name == "Avslutad")">Avslutad</option>
                <option value="Ej påbörjad" selected="@(model.Name == "Ej påbörjad")">Ej påbörjad</option>
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Tjänster</label>
        <select class="form-select mb-3 col-md-12">
            @if (ServiceType != null)
            {
                @foreach (var service in ServiceType)
                {
                    <option value="@service.Id">@($"{service.Name} - {service.Price:0} kr")</option>
                }
            }
            else
            {
                <option disabled>Laddar Tjänster..</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Spara ändringar</button>

</EditForm>
