@page "/create"
@layout MainLayout

<h3 class="mb-4">Create</h3>


<EditForm Model="model" OnValidSubmit="CreateProject">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Projektnamn</label>
            <input type="text" class="form-control" @bind="model.Name" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Startdatum</label>
            <input type="date" class="form-control" @bind="model.StartDate" />
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Slutdatum</label>
            <input type="date" class="form-control" @bind="model.EndDate" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Kund</label>

            <select class="form-selct" @bind="model.CustomerName" />
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Anställd</label>
            <select class="form-select">
                @foreach (var customer in Customers!)
                {
                    <option value="@customer.Id">@customer.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Status</label>
            <select class="form-select" @bind="model.Status">
                <option value="Pågående" selected="@(model.Status == "Pågående")">Pågående</option>
                <option value="Avslutad" selected="@(model.Status == "Avslutad")">Avslutad</option>
                <option value="Ej påbörjad" selected="@(model.Status == "Ej påbörjad")">Ej påbörjad</option>
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Service</label>

    </div>

    <button type="submit" class="btn btn-primary">Spara ändringar</button>

</EditForm>
