@page "/details/{projectNumber}"
@using Pressentation_WebApp.Components.Shared;

<h3 class="mb-4">Projektinformation</h3>

@if (Project != null)
{
    <EditForm Model="Project" OnValidSubmit="SaveChangesAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Projektnummer</label>
                <p type="text" disabled> @Project.ProjectNumber</p>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Projekt</label>
                <input type="text" class="form-control" @bind="Project.ProjectName" disabled="@(isEditing == false)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Startdatum</label>
                <input type="date" class="form-control" @bind="Project.StartDate" disabled="@(isEditing == false)" />
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Slutdatum</label>
                <input type="date" class="form-control" @bind="Project.EndDate" disabled="@(isEditing == false)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Kund</label>
                <select type="text" class="form-select" @bind="Project.CustomerId" disabled="@(isEditing == false)">
                    @if (Customers != null)
                    {
                        @foreach (var customer in Customers)
                        {
                            <option value="@customer.Id">@customer.Name</option>
                        }
                    }
                    else
                    {
                        <option>Laddar kunder..</option>
                    }
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Anställd</label>
                <select type="text" class="form-select" @bind="Project.EmployeeId" disabled="@(isEditing == false)">
                    @if (Employees != null)
                    {
                        @foreach (var employee in Employees)
                        {
                            <option value="@employee.Id">@employee.Name</option>
                        }
                    }
                    else
                    {
                        <option>Laddar anställda..</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Status</label>
                <select class="form-select" @bind="Project.StatusTypeId" disabled="@(isEditing == false)">
                    @if (Status != null && Status.Any())
                        @foreach (var stat in Status)
                        {
                            <option value="@stat.Id">@stat.Name</option>
                        }
                    else
                    {
                        <option value="0">Laddar status...</option>
                    }
                </select>
                <div class="row">
                    <div class="col-md-12 mt-5 d-flex ">
                        <button type="submit" class="btn btn-primary" disabled="@(isEditing?false:true)">
                            @buttonStatus
                        </button>
                        <div class="form-check d-flex align-items-center ml-4">
                            <input type="checkbox" class="form-check-input" id="editToggle" @bind="isEditing" />
                            <label class="form-check-label" for="editToggle">Redigera</label>
                        </div>
                    </div>
                </div>
            </div>
            <AddServices IsEditing="isEditing" ProjectServices="ServiceList" Id="Id" />
        </div>
    </EditForm>
}
else
{
    <p>Laddar projekt...</p>
}