@page "/details/{projectNumber}"

<h3 class="mb-4">Projektinformation</h3>

@if (Project != null)
{
    <EditForm Model="Project" OnValidSubmit="SaveChangesAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="editToggle" @bind="isEditing" />
            <label class="form-check-label" for="editToggle">Redigera</label>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Projektnummer</label>
                <input type="text" class="form-control" @bind="Project.ProjectNumber" disabled />
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Projekt</label>
                <input type="text" class="form-control" @bind="Project.ProjectName" disabled="@(isEditing == false)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Startdatum</label>
                <input type="date" class="form-control" @bind="Project.StartDate" disabled="@(isEditing == false)" />
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Slutdatum</label>
                <input type="date" class="form-control" @bind="Project.EndDate" disabled="@(isEditing == false)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Kund</label>
                <input type="text" class="form-control" @bind="Project.CustomerName" disabled="@(isEditing == false)" />
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Anställd</label>
                <input type="text" class="form-control" @bind="Project.EmployeeName" disabled="@(isEditing == false)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Status</label>
                <select class="form-select" @bind="Project.StatusType" disabled="@(isEditing == false)">
                    @* Här ska det loopas igenom en lista av status och väljas den som är lika med projektet *@
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Service</label>
            @* Ändra utseende till class="list-group" för ul och class="list-group-item" för li*@
            @foreach (var service in Project.Services!)
            {
                <div class="col-md-6 mb-3">
                    <input type="text" class="form-control" value="@service.Name" disabled="@(isEditing == false)" />
                </div>
            }
        </div>

        @if (isEditing)
        {
            <button type="submit" class="btn btn-primary">Spara ändringar</button>
        }
    </EditForm>
}
else
{
    <p>Laddar projekt...</p>
}