@page "/"

@if (ProjectsList is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-dark table-sm table-hover">
        <caption>Table of Projects</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Project</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in ProjectsList)
            {
                <tr @onclick="() => NavigateToProject(project.ProjectNumber!)">
                    <td>@project.ProjectNumber</td>
                    <td>@project.Name</td>
                    <td>@project.StartDate</td>
                    <td>@project.EndDate</td>
                    <td>@project.Status</td>
                    <td>
                        <a href="delete" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}