@page "/project-details/{projectNumber}"

<h3>Projektinformation</h3>

@* @if (DetailsModel != null) *@
@* { *@
@*     <p><strong>Projektnummer:</strong> @DetailsModel.ProjectNumber</p> *@
@*     <p><strong>Namn:</strong> @DetailsModel.Name</p> *@
@*     <p><strong>Startdatum:</strong> @DetailsModel.StartDate</p> *@
@*     <p><strong>Slutdatum:</strong> @DetailsModel.EndDate</p> *@
@*     <p><strong>Kund:</strong> @DetailsModel.CustomerName</p> *@
@*     <p><strong>Anställd:</strong> @DetailsModel.EmployeeName</p> *@
@*     <p><strong>Status:</strong> @DetailsModel.Status</p> *@
@* } *@
else
{
    <p>Laddar projekt...</p>
}

